

.EndScreen{
    z-index: 85;
    position: absolute;

    height:100%;
    width:100%;


    display:flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
    animation: fade-in 0.5s ease-in-out alternate 1.5s both;

}

.EndScreen Button{
    z-index: 88;
    animation: fade-in-top 0.5s ease-in-out alternate 2s both;
}


.CircleWrapper{
    display: flex;
    flex-direction: row;
    width:80%;
    height:85%;
    justify-content: center;
    align-items: center;

    position:relative;
}

@media screen and (max-width: 600px) {
    .CircleWrapper{
        width:100%;
        height:400px;
    }
}

.Circle{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    position:absolute;

    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1/1;
    height:80%;
    box-shadow: rgba(0, 0, 0, 0.445) 0px 60px 60px -7px;

    transition: box-shadow 0.7s;
    z-index: 86;
    
    animation: circle-fade 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}

.Circle::before{
    content: "";
    position: absolute;
    width: 100%; /* width of the spinning circle bars */
    height: 100%; /* make sure this is very long */
    transition: background 0.5s;    

    background: conic-gradient(var(--game-color-red) 0% 25%, var(--game-color-blue) 25% 50%, var(--game-color-green) 50% 75%,var(--game-color-yellow) 75% 100%);
    
    animation: rotate 10s linear infinite;

}

.Circle::after{
    content: "";
    position: absolute;
    background-color: var(--bg-color);

    inset:15px;
    border-radius: 50%;
}



.CardWrapper{
    position: absolute;

    margin-top:25vh;

    display: flex;
    flex-grow: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 87;
    aspect-ratio: 0.75;
    height: 100%;


    animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;

}

.Card{
    display:flex;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
    padding:50px;
    aspect-ratio: 0.75;
    height: 40%;
 
    overflow: hidden;

    border-radius: 0px 20px 0px 20px;
    background-color: var(--bg-up-color);

}

.Card[class~='LeftCard']{
    animation: left-card 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) 2s both;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    translate: -5vw -20px;
} 

.Card[class~='RightCard']{
    animation: right-card 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    translate: 5vw 20px;
} 

@media screen and (max-width: 600px) {
  .Card[class~='LeftCard']{
    translate: -10vw -20px;
  } 

  .Card[class~='RightCard']{
      translate: 10vw -10px;
  } 

  .Card h1{
    font-size: 3vh;
  }

}





.Title{
    font-size: 5vh;
}

.Icon{
    width: 10vh;
    height:10vh;

    animation: color-change-4x 4s linear infinite alternate both;
}




/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
  @keyframes fade-in {
    0% {
        background-color: transparent;    
    }
    100% {
        background-color: var(--bg-color);
    }
  }

  @keyframes rotate {
    from {
        transform: rotate(0deg);
      }
    to {
        transform: rotate(360deg);
    }
}

  
/**
 * ----------------------------------------
 * animation color-change-4x
 * ----------------------------------------
 */
  @keyframes color-change-4x {
    0% {
        color: var(--game-color-red);
      }
      33.3333% {
        color: var(--game-color-blue);
      }
      66.666% {
        color: var(--game-color-green);
      }
      100% {
        color: var(--game-color-yellow);
      }
  }

/**
 * ----------------------------------------
 * animation circle-fade
 * ----------------------------------------
 */
  @keyframes circle-fade {
    0% {
      transform: translateY(-50px) perspective(2000px)  rotateX(53deg);
      opacity: 0;
    }
    100% {
      transform: translateY(0) perspective(2000px)  rotateX(53deg);
      opacity: 1;
    }
  }
  

/**
 * ----------------------------------------
 * animation fade-in-top
 * ----------------------------------------
 */
  @keyframes fade-in-top {
    0% {
      transform: translateY(-100px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  

  /**
 * ----------------------------------------
 * animation left-card
 * ----------------------------------------
 */
  @keyframes left-card {
    0% {
        transform: perspective(2000px)  rotateX(53deg) ; 
    }
    10%{
        transform: perspective(2000px)  rotateX(53deg) ;
    } 
    100% {
        transform: perspective(2000px) rotateY(-30deg)  rotateX(5deg) ;
    }
  }


    /**
 * ----------------------------------------
 * animation right-card
 * ----------------------------------------
 */
  @keyframes right-card {
    0% {
        transform: perspective(2000px)  rotateX(53deg) ; 

    }
    10%{
        transform: perspective(2000px)  rotateX(53deg) ;
    } 
    100% {
        transform: perspective(2000px) rotateY(20deg)  rotateX(0deg) ;

    }
  }