.BoardWrapper{
    display: grid;

    height:100%;
    width:100%;

    grid-template-columns:minmax(0, 1fr) minmax(0,2fr) minmax(0,1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0,2fr) minmax(0,1fr);

    overflow:scroll;
    padding:20px;
    gap: 5px;
}

.HandWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    grid-column: 2;
    grid-row: 3;

    max-width: 100%;

    width:100%;
    height:100%;
}

.TopHandWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    max-width: 100%;
   
    grid-column: 2;
    grid-row: 1;

    width:100%;
    height:100%;

    rotate:180deg;
}

.RightHandWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    grid-column: 3;
    grid-row: 2;

    max-width: 100%;

    width:100%;
    height:100%;
    rotate:-90deg;
}

.LeftHandWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    grid-column: 1;
    grid-row: 2;

    max-width: 100%;

    width:100%;
    height:100%;

    rotate:90deg;
}

.InnerBoard {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    position: absolute;
    max-width: 100%;
    height: 100%;
    z-index: 2;
}

.InnerBoardBorder{
    display: flex;
    flex-direction: row;

    justify-self: center;
    align-self: center;

    justify-content: center;
    align-items: center;

    grid-column: 2;
    grid-row: 2;

    position:relative;

    border-radius: 50px;

    overflow: hidden;

    width: 35vw;
    height: 30vh;
}



.InnerBoardBorder[class~="red"]::before{
    background: var(--game-color-red);
}
.InnerBoardBorder[class~="blue"]::before{
    background: var(--game-color-blue);
}
.InnerBoardBorder[class~="green"]::before{
    background: var(--game-color-green);
}
.InnerBoardBorder[class~="yellow"]::before{
    background: var(--game-color-yellow);
}
.InnerBoardBorder[class~="wild"]::before{
    background: var(--game-color-wild);
}

.InnerBoardBorder[class~="false"]::before{
    -webkit-animation: rotate-reverse 10s linear infinite;
    animation: rotate-reverse 10s linear infinite;
}

.InnerBoardBorder[class~="true"]::before{
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
}

.InnerBoardBorder::before{
    content: "";
    position: absolute;
    
    width: 100px;
    height: 250%;
}

.InnerBoardBorder::after{
    content: "";
    position: absolute;
    background-color: var(--bg-color);
    inset:5px;
    border-radius: 45px;


}

@keyframes rotate {
    from {
        transform: rotate(0deg);
      }
    to {
        transform: rotate(360deg);
    }
}
@keyframes rotate-reverse {
    from {
        transform: rotate(360deg);
      }
    to {
        transform: rotate(0deg);
    }
}